/*-------- Banner --------*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;

    text-align: center;

    &__title {
        font-size: 8rem;
        color: $orange;
        font-weight: 900;
    }

    &__gif {
        max-width: 100%;
        margin-top: -9rem;
    }

    &__minted {
        color: $sea;
        opacity: 0.3;
    }

    &__minted-value {
        font-size: 6rem;
    }

    &__minted-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    &__button {
        margin-top: 32px;
    }
}

@media (max-width: 1099px) {

    .banner {

        &__title {
            font-size: 6rem;
        }

        &__minted-value {
            font-size: 3rem;
        }

        &__minted-title {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }

        &__button {
            height: 60px;
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {

    .banner {

        &__title {
            font-size: 3.75rem;
        }

        &__gif {
            margin-top: -4rem;
        }
    }
}