* {
    box-sizing: border-box;
}

body {
    min-width: 320px;

    font-family: $font-frank;
    font-size: 18px;
    background-color: $sky;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

input {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.scrollwrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 6px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #ebe0bf;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .scrollwrapper {
        padding-right: 0 !important;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

@media (max-width: 1099px) {

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (max-width: 479px) {
    .container {
        padding: 0 12px;
    }
}
