/*-------- Header --------*/

.header {

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    &__link {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        color: #fff;
    }

    &__link-icon {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    &__logo {
        width: 48px;
        height: 48px;
    }

    &__logo-icon {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1099px) {

    .header {

        &__wrapper {
            padding: 1.25rem;
        }
    }
}

@media (max-width: 619px) {

    .header {

        &__wrapper {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        &__logo {
            width: 2rem;
        }

        &__link {
            font-size: 1.25rem;
        }
    }
}