/*-------- Fonts --------*/
$font-frank: "FatFrank";

/*-------- Colors --------*/
$orange: rgb(250, 230, 1);
$sky: rgb(180, 202, 217);
$sea: rgb(68, 92, 127);

@import './reset.scss';
@import './components/components.scss';